/* /////////////////////////////////////////// */

/* 
CURRENT TIME COMPONENTS
*/
.current-time {
  display: flex;
  justify-content: center;
  font-size: 7.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 4rem 0 5rem 0;
}

/* 
LIST TIMER COMPONENTS
*/
.grid--2-col {
  background-color: #2d343b;
  border-radius: var(--border-radius-small);
  padding: 1.5rem 2rem;
}
.timer-name {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}
.timer-duration {
  font-size: 2.4rem;
}
.progress-container {
  width: 100%;
  margin-top: 1rem;
  height: 0.6rem;
  background-color: #444e57;
  border-radius: var(--border-radius-small);
}
.progress-bar {
  width: 70%;
  height: 100%;
  background-color: #f8b657;
  border-radius: var(--border-radius-small);
  transition: width 0.3s ease-in-out;
}
.progressing-right {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  justify-content: right;
}
.grid--break {
  max-width: 80%;
}
.breakstate {
  background-color: #1c2022;
  border-radius: var(--border-radius-medium);
  padding: 1.2rem 2rem;
}
.btn-red {
  background-color: #cd5832;
  padding: 1rem 0rem;
}
.btn-add-timer {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  padding: 2rem 0rem;
  color: #1c2022;
  font-weight: 800;
  text-transform: uppercase;
  background-color: #f3a335;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: var(--color-primary3);
  padding: 5rem 3.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.5);
  border-radius: var(--border-radius-small);
  z-index: 1000;
  transition: all 0.5s;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.header__modal {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
.modal__label {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-shades--500);
}
.btn--cancel-modal {
  background-color: var(--color-primary1);
}
.btn--add-modal {
  background-color: var(--color-tints--yellowdark);
}
.btn--cancel-modal,
.btn--add-modal {
  padding: 1.5rem 0rem;
  border-radius: var(--border-radius-small);
  font-weight: 600;
  font-size: 2.4rem;
}
.grid--2-col-modal-duration input {
  width: 100%;
}
.grid--2-col-modal-duration input:first-child {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}
.grid--2-col-modal-duration input:last-child {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

/* /////////////////////////////////////////// */
/* 
CURRENT TIME COMPONENTS
*/
.current-stopwatch {
  display: flex;
  justify-content: center;
  font-size: 7.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 3.2rem 0 0rem 0;
}
/* 
BTN STOPWATCH COMPONENTS
*/
.flexbox--stopwatch {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0 7.5rem 0;
}
.stopwatch {
  width: 150px;
}
.stopwatch-btn-pause,
.stopwatch-btn-resume {
  background-color: #cb821c;
}

/* 
List STOPWATCH COMPONENTS
*/
.lap {
  padding: 0 2rem;
}
.lap-name,
.lap-time {
  font-size: 2.4rem;
}
.scroll-lap {
  max-height: 390px;
  overflow-y: auto;
}
/* Largeur de la scrollbar */
.scroll-lap::-webkit-scrollbar {
  width: 8px; /* Ajuste selon tes préférences */
}

/* Couleur/fond de la “piste” de la scrollbar */
.scroll-lap::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Couleur/fond de la “thumb” (partie coulissante) */
.scroll-lap::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Couleur au survol de la thumb */
.scroll-lap::-webkit-scrollbar-thumb:hover {
  background: #555;
}
