/* /////////////////////////////////////////// */

/* 
TIMER COMPONENT
*/
.timer__current-time,
.stopwatch__current-time {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: 0.5px;
}

.timer__current-time {
  padding: 4rem 0 5rem 0;
}

.stopwatch__current-time {
  padding: 3.2rem 0 0 0;
}

/* 
TIMER LIST COMPONENTS
*/
.timer__list,
.stopwatch__laps {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
  list-style: none;
}

.stopwatch__laps {
  max-height: 390px;
  overflow-y: auto;
}

.timer__item-content {
  background-color: var(--color-primary2);
  border-radius: var(--border-radius-small);
  padding: var(--spacing-md) var(--spacing-lg);
  display: grid;
  column-gap: var(--spacing-lg);
  row-gap: 9.6rem;
  grid-template-columns: 3fr 1fr;
}

.timer__name,
.timer__duration,
.stopwatch__lap-name,
.stopwatch__lap-time {
  font-size: var(--font-size-large);
}

.timer__name {
  display: flex;
  align-items: center;
}

.timer__break-info,
.stopwatch__lap {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-xs);
}

.timer__break-info {
  background-color: var(--color-primary3);
  border-radius: var(--border-radius-medium);
  padding: 1.2rem var(--spacing-lg);
}

.progress-container {
  width: 100%;
  margin-top: var(--spacing-sm);
  height: 0.6rem;
  background-color: var(--color-primary1);
  border-radius: var(--border-radius-small);
}

.progress-bar {
  width: 70%;
  height: 100%;
  background-color: var(--color-tints--yellow);
  border-radius: var(--border-radius-small);
  transition: var(--transition-smooth);
}

.timer__controls {
  display: flex;
  width: 100%;
  gap: 1.2rem;
  justify-content: right;
}

.timer__item-content--break {
  max-width: 80%;
}

/* Buttons */
.btn--red {
  background-color: var(--color-tints--red);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-small);
  width: auto;
  height: auto;
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-medium);
}

.btn--add-timer,
.stopwatch__btn {
  width: 100%;
  border-radius: var(--border-radius-small);
}

.btn--add-timer {
  height: 100%;
  padding: var(--spacing-lg) 0;
  color: var(--color-primary3);
  font-weight: var(--font-weight-extrabold);
  text-transform: uppercase;
  background-color: #f3a335;
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: var(--color-primary3);
  padding: var(--spacing-xxl) var(--spacing-xl);
  box-shadow: var(--shadow-dark);
  border-radius: var(--border-radius-small);
  z-index: 1000;
  transition: var(--transition-slow);
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.modal__header {
  font-size: var(--font-size-xl);
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.modal__label {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semibold);
  margin-bottom: var(--spacing-xs);
  color: var(--color-shades--500);
}

.modal__duration {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
}

.modal__actions {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr;
}

.modal__btn--cancel {
  background-color: var(--color-primary1);
}

.modal__btn--add {
  background-color: var(--color-tints--yellowdark);
}

.modal__btn {
  padding: var(--spacing-md) 0;
  border-radius: var(--border-radius-small);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-large);
}

.modal__duration input {
  width: 100%;
}

.modal__input--hours {
  border-radius: var(--border-radius-small) 0 0 var(--border-radius-small);
}

.modal__input--minutes {
  border-radius: 0 var(--border-radius-small) var(--border-radius-small) 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: var(--transition-slow);
}

/* /////////////////////////////////////////// */
/* 
STOPWATCH COMPONENTS
*/

/* 
STOPWATCH CONTROLS
*/
.stopwatch__controls {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: center;
  padding: 3rem 0 7.5rem 0;
}

.stopwatch__btn {
  width: 150px;
}

.stopwatch__btn--pause,
.stopwatch__btn--resume {
  background-color: var(--color-tints--yellowdark);
}

.stopwatch__lap {
  padding: 0 var(--spacing-lg);
}

/* Scrollbar styling */
.stopwatch__laps::-webkit-scrollbar {
  width: 8px;
}

.stopwatch__laps::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.stopwatch__laps::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.stopwatch__laps::-webkit-scrollbar-thumb:hover {
  background: #555;
}
